*{
  box-sizing: border-box;
}

html {
  background-image: url(assets/christmasBg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 2px;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#snowBg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

h1  {
  font-size: 3rem;
  z-index: 1;
}

#countdown-container{
 display: flex;
 z-index: 1;
}

.countdown-item{
  margin: 3rem;
  text-align: center;
}

.countdown-item span {
  font-size: 7rem;
}

.countdown-item p{
  font-size: 2rem;
}

